@{
    Layout = "_Layout2";
}


<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio - Planes Turísticos</title>
    <style>
        body {
            background-image: url("https://www.semana.com/resizer/a2eqzGo1dMiptuUCqkFgJqx1JWU=/arc-anglerfish-arc2-prod-semana/public/GCOYSTILL5BDDGLHVUEW4O5X5Q.jpg"); /* Establece la imagen como fondo del body */
            background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
            background-repeat: no-repeat; /* Evita la repetición de la imagen */
        }
    </style>
</head>
<body>
    <header>
        <h1>Bienvenido a Planes Turísticos</h1>
        <p>Descubre emocionantes aventuras y destinos turísticos</p>
    </header>



   
</body>
</html>