@model List<Proveedor>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <a href="/Home3/Index3" class="btn btn-secondary">Volver</a>
    <style>


        .background-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
        }

        .container {
            margin-top: 20px;
            position: relative;
            z-index: 1; /* Asegura que la tabla esté en la parte superior de la capa de fondo */
        }

        .table thead th {
            background-color: #007BFF;
            color: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Lista de Proveedores</h2>

        @if (Model.Count > 0)
        {
            <form>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Cedula</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model)
                        {
                            <tr>
                                <td>@usuario.Id_Proveedor</td>
                                <td>@usuario.nombreProveedor</td>
                                <td>@usuario.Correo</td>
                                <td>@usuario.Cedula</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
        else
        {
            <p class="text-center">No se encontraron usuarios.</p>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
